h1 {
    background: #569099;
    padding: 10px;
    color: #fff;
   }
   h3{
    background: #cad8d0;
    padding: 10px;
   }

    .info {
    border: 3px solid #666; 
    padding: 25px; 
    margin: 10px; 
    }
   a {
    padding-left: 25px;
}
body {
   background-image: url(ocean.jpg);
   
   background-repeat: repeat-x;
   background-position: bottom;
  }
  form{
  margin-top:1em;
  margin-bottom:6em;
}
button{
  margin-top:1em;
}